<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.amzi.prolog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="basews" value="win32"/>
<mapEntry key="bootclasspath" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="CDC-1.0/Foundation-1.0" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="javacDebugInfo" value="on"/>
<mapEntry key="baseos" value="win32"/>
<mapEntry key="javacVerbose" value="false"/>
<mapEntry key="eclipse.running" value="true"/>
<mapEntry key="javacSource" value="1.6"/>
<mapEntry key="basenl" value="en_US"/>
<mapEntry key="CDC-1.1/Foundation-1.1" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="javacFailOnError" value="false"/>
<mapEntry key="J2SE-1.4" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="OSGi/Minimum-1.2" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="J2SE-1.5" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="basearch" value="x86"/>
<mapEntry key="OSGi/Minimum-1.1" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="J2SE-1.2" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="OSGi/Minimum-1.0" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="JavaSE-1.6" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="J2SE-1.3" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="JRE-1.1" value="C:\Program Files\Java\jdk1.6.0_18\jre\lib\resources.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\rt.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jsse.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\jce.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\charsets.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\dnsns.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\localedata.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunjce_provider.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunmscapi.jar;C:\Program Files\Java\jdk1.6.0_18\jre\lib\ext\sunpkcs11.jar"/>
<mapEntry key="javacTarget" value="1.6"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:/com.amzi.prolog/plugin_ant.xml}"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
